.remove-btn {
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(236, 47, 47);
    cursor: pointer;
}

.errorDisplay{
    display: flex;
    justify-content: center;
}