$color-primary: #213c6b;
$color-new: #0c2a4f;
$color-secondary: #046fb0;

.add-to-explorer {
	background-color: $color-secondary;
}

.added-to-explorer {
	background-color: #7c7878;
	color: #39433d;
}
