$color-primary: #213C6B;
$color-secondary: #046fb0;

.top {
    border-bottom: 1px solid $color-secondary;
}

.nav-tabs {
    border-bottom: 1px solid #fff;

    .nav-item .nav-link {
        background-color: #f6f6f6;
        color: $color-primary;

        &.active {
            background-color: $color-secondary;
            color: #fff;
        }
    }
}