.apis-btn {
	border: none;
	background: rgb(254, 254, 254);
	width: 100%;
	text-align: left;
	font-weight: bold;
	font-size: large;
	outline: none;
}

.error {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 330px;
	height: 50px;
}
